# ENVIRONMENT VARIABLES
# ======================
.env
.env.local
.env.development
.env.production
 
# ======================
# TEST DATA - reálne dáta
# ======================
users.json
testdata.json
 
# ======================
# OS
# ======================
.DS_Store
Thumbs.db
 
# ======================
# IDE
# ======================
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
